body {
    background-color: rgb(39, 48, 59);
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    background-color: rgb(129, 108, 112);
    height: 118px;
    text-align: center;
}

nav {
    background-color: rgba(19, 105, 19, 0.349);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

main {
    background-color: brown;
    height: 350px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}

main#specials {
    background-color: brown;
    height: 1100px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}

main#menu{
    background-color: brown;
    height: 1400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}

main#services{
    background-color: brown;
    height: 500px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}

footer {
    background-color: rgba(19, 105, 19, 0.349);
    height: 100px;
}

img.resize {
    max-width: 90%;
    max-height: 90%;
}

img.pasta {
    /* max-width: 90%;
    max-height: 90%; */

}

h1 {
    font-size: 50px;
    color: rgb(34, 28, 28);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px;
    color: rgb(34, 28, 28);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    text-decoration: none;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

td, th {
    text-align: left;
    padding: 8px;
  }


.center {
    margin-left: auto;
    margin-right: auto;
  }

.imagecenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

ul.a {
    list-style-position: inside ;
    font-family: sans-serif;
    font-size: larger;
  }